.demo{
    background-color: aquamarine;

}
#tut{
    background-color: bisque;
}
.demo1{
    background-color: aquamarine;

}
.demo3{
    background-color: aquamarine;
    display: inline;
}
